<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/workshop/about">About</a></li>
		        	<li><a href="/workshop/program">Program</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:patrick.d.elliott@gmail.com">email</a></li>
	        		<li><a href="https://github.com/patrl">github.com/patrl</a></li>
				</ul>
			</footer>
		</body>
	</html>
